{% raw %}
</div>
<div class="border my-5 p-5">
    <div class="max-w-content mx-auto mb-5" aria-hidden="true">
        <h2 class="font-heading text-3xl lg:text-4xl print-module-title">How CPD works</h2>
            <div class="max-w-content mx-auto">
                <div class="cms">
                    <p>There are four stages to IOSH CPD. You should record all your CPD activity in Blueprint. All information is secure and none of your personal details are held. Use Blueprint's 'Recite Me' tool for accessibility and language options.</p>
                </div>
                <div class="" x-data="{ activeTab: '1' }">
                        <ul class="shrink-0 flex flex-wrap items-end justify-start gap-x-1 border-b border-grey-300  no-print" role="tablist">
                                <li class="">
                                    <button class="block font-title text-grey text-left px-3 py-2 w-full relative group" aria-selected="false" aria-controls="tab-58634726-905f-4296-b807-979c8172724a-1" role="tab" x-bind:aria-selected="activeTab == '1'" x-bind:class="activeTab != '1' || 'text-purple !no-underline pointer-events-none'" x-on:click="activeTab = '1'">
                                        <span>Assess and plan</span>
                                        <span class="bg-purple h-[3px] transition duration-300 absolute -bottom-[2px] left-0 right-0 " x-show="activeTab == '1'" x-cloak=""></span>
                                    </button>
                                </li>
                                <li class="">
                                    <button class="block font-title text-grey text-left px-3 py-2 w-full relative group" aria-selected="false" aria-controls="tab-58634726-905f-4296-b807-979c8172724a-2" role="tab" x-bind:aria-selected="activeTab == '2'" x-bind:class="activeTab != '2' || 'text-purple !no-underline pointer-events-none'" x-on:click="activeTab = '2'">
                                        <span>Learn</span>
                                        <span class="bg-purple h-[3px] transition duration-300 absolute -bottom-[2px] left-0 right-0 " x-show="activeTab == '2'" x-cloak=""></span>
                                    </button>
                                </li>
                                <li class="">
                                    <button class="block font-title text-grey text-left px-3 py-2 w-full relative group" aria-selected="false" aria-controls="tab-58634726-905f-4296-b807-979c8172724a-3" role="tab" x-bind:aria-selected="activeTab == '3'" x-bind:class="activeTab != '3' || 'text-purple !no-underline pointer-events-none'" x-on:click="activeTab = '3'">
                                        <span>Record</span>
                                        <span class="bg-purple h-[3px] transition duration-300 absolute -bottom-[2px] left-0 right-0 " x-show="activeTab == '3'" x-cloak=""></span>
                                    </button>
                                </li>
                                <li class="">
                                    <button class="block font-title text-grey text-left px-3 py-2 w-full relative group" aria-selected="false" aria-controls="tab-58634726-905f-4296-b807-979c8172724a-4" role="tab" x-bind:aria-selected="activeTab == '4'" x-bind:class="activeTab != '4' || 'text-purple !no-underline pointer-events-none'" x-on:click="activeTab = '4'">
                                        <span>Apply and reflect</span>
                                        <span class="bg-purple h-[3px] transition duration-300 absolute -bottom-[2px] left-0 right-0 " x-show="activeTab == '4'" x-cloak=""></span>
                                    </button>
                                </li>
                        </ul>
                    <div>
                                <div id="tab-58634726-905f-4296-b807-979c8172724a-5" class="pt-5 lg:pt-7 !print-block" role="tabpanel" aria-label="Assess and plan" x-show="activeTab == '1'">
                                    <div class="cms -mb-5">
                                        <p>Assess your capability and develop your professional plan. Use the self-assessment tool to benchmark your skills (technical, core, behavioural) and build a personal development plan based on the results.</p>
                                    </div>
                                </div>
                                <div id="tab-58634726-905f-4296-b807-979c8172724a-2" class="pt-5 lg:pt-7 !print-block" role="tabpanel" aria-label="Learn" x-cloak="" x-show="activeTab == '2'">
                                    <div class="cms -mb-5">
                                        <p>Undertake your planned CPD and acquire skills and knowledge.</p>
    <p>Refresh and grow your knowledge through CPD activities. You can find options to support your learning at the required level in Blueprint's resource library, which provides over 1,300 opportunities for carrying out your CPD. And you may already be doing CPD without realising it – the activities below all count.</p>
    <ul>
    <li>Work-based learning – eg job shadowing.</li>
    <li>Professional activity – eg mentoring through IOSH Mentoring platform.</li>
    <li>Formal learning – eg e-learning or an IOSH CPD course.</li>
    <li>Self-directed learning – eg reading an industry article in IOSH Magazine.</li>
    <li>Other activities that develop transferable skills – eg volunteering.</li>
    </ul>
                                    </div>
                                </div>
                                <div id="tab-58634726-905f-4296-b807-979c8172724a-3" class="pt-5 lg:pt-7 !print-block" role="tabpanel" aria-label="Record" x-cloak="" x-show="activeTab == '3'">
                                    <div class="cms -mb-5">
                                        <p>Log and provide evidence of your CPD. You can log any CPD activities – not just the resources we provide – in your record on Blueprint.</p>
    <p>Attending relevant events and webinars is another great way to access fresh information and network. You can add these to your CPD record. <a href="/get-involved/events/event-listings">Check out our events.</a></p>
                                    </div>
                                </div>
                                <div id="tab-58634726-905f-4296-b807-979c8172724a-4" class="pt-5 lg:pt-7 !print-block" role="tabpanel" aria-label="Apply and reflect" x-cloak="" x-show="activeTab == '4'">
                                    <div class="cms -mb-5">
                                        <p>Apply your knowledge and skills and reflect on what you have learnt and put into practice.&nbsp;</p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <div class="pt-8 lg:pt-10 no-print">
        <div class="max-w-content mx-auto">
            <ul class="flex flex-wrap items-center  gap-4">
                    <li>
                        <a id="module-actions-e1b3cd17-9cc2-4b7f-a2f7-c8a5fc9845e8" class="btn-primary" href="https://blueprint.iosh.com/auth/login" target="_blank" rel="noopener">
                            <span>Log in to Blueprint</span>
                                <span class="sr-only">(opens in a new tab)</span>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
    <div class="cms">
    {% endraw %}