<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://unpkg.com/swup@3"></script>
    <script src="https://unpkg.com/@swup/preload-plugin@2"></script>
    <script src="https://unpkg.com/browse/@swup/a11y-plugin@3.0.0/dist/index.umd.js"></script>
  </head>
  <body class="system-sans-serif f5">
    {% include navigation.html %}
    <main id="swup" class="transition-fade">
    <div class="measure-wide center pl2 pr2">
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      TBC
    </footer>
  </div>
  </main>
  <script src="/js/custom.js"></script>
  </body>
</html>