<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://iosh.com/css/site.iosh.min.css?v=SsF-PTW_AUkPMX90D7o7RKhfaS-10v3k9Hdiz1iC0mY">
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div class="bg-purple pr-5 py-10 text-white font-bold"><span class="block max-w-content mx-auto"><a href="{{ site.baseurl }}/design-system">IOSH Design System</a></span></div>
    <div class="flex max-w-content mx-auto">
    {% include ds-navigation.html %}
    <main class="py-10 w-full">
        <div>
        <h1 class="font-heading text-3xl w-full lg:text-4xl pb-5">{{ page.title }}</h1> 
        <section>
          {{ content }}
        </section>
        <footer>
          TBC
        </footer>
      </div>
    </main>
    </div>
</body>
</html>